%%% -*- mode: erlang -*-

{require_min_otp_vsn, "R16"}.

{pre_hooks, [{clean, "c_src/build_deps.sh clean"}
             , {'get-deps', "c_src/build_deps.sh get_deps"}
             , {compile, "c_src/build_deps.sh"}
            ]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -fPIC -O3 -Wall -Wextra -Werror -Wno-unused-parameter -Wno-missing-field-initializers"}
           , {"x86_64-apple-darwin*", "DRV_CFLAGS", "$DRV_CFLAGS -Qunused-arguments"}
           ]}.
{port_specs, [{".*", "priv/lib/lets_impl_drv.so", ["c_src/lets_impl_drv_lib.cc", "c_src/lets_impl_drv.cc"],
               [{env, [{"DRV_CFLAGS", "$DRV_CFLAGS -I c_src/leveldb/include"}
                      , {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/lib/libleveldb.a c_src/snappy/lib/libsnappy.a -lstdc++"}
                      ]}]}
             , {".*", "priv/lib/lets_impl_nif.so", ["c_src/lets_impl_nif_lib.cc", "c_src/lets_impl_nif.cc"],
                [{env, [{"DRV_CFLAGS", "$DRV_CFLAGS -I c_src/leveldb/include"}
                       , {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/lib/libleveldb.a c_src/snappy/lib/libsnappy.a -lstdc++"}
                       ]}]}
             , {".*", "priv/lib/hets_impl_drv.so", ["c_src/hets_impl_drv_lib.cc", "c_src/hets_impl_drv.cc"],
                [{env, [{"DRV_CFLAGS", "$DRV_CFLAGS -I c_src/hyperleveldb/include"}
                       , {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/hyperleveldb/lib/libhyperleveldb.a c_src/snappy/lib/libsnappy.a -lstdc++"}
                       ]}]}
             , {".*", "priv/lib/hets_impl_nif.so", ["c_src/hets_impl_nif_lib.cc", "c_src/hets_impl_nif.cc"],
                [{env, [{"DRV_CFLAGS", "$DRV_CFLAGS -I c_src/hyperleveldb/include"}
                       , {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/hyperleveldb/lib/libhyperleveldb.a c_src/snappy/lib/libsnappy.a -lstdc++"}
                       ]}]}
             , {".*", "priv/lib/rets_impl_drv.so", ["c_src/rets_impl_drv_lib.cc", "c_src/rets_impl_drv.cc"],
                [{env, [{"DRV_CFLAGS", "$DRV_CFLAGS -DROCKSDB -std=c++11 -I c_src/rocksdb/include"}
                       , {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/rocksdb/lib/librocksdb.a c_src/snappy/lib/libsnappy.a -lstdc++"}
                       ]}]}
             , {".*", "priv/lib/rets_impl_nif.so", ["c_src/rets_impl_nif_lib.cc", "c_src/rets_impl_nif.cc"],
                [{env, [{"DRV_CFLAGS", "$DRV_CFLAGS -DROCKSDB -std=c++11 -I c_src/rocksdb/include"}
                       , {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/rocksdb/lib/librocksdb.a c_src/snappy/lib/libsnappy.a -lstdc++"}
                       ]}]}
             ]}.

{erl_opts, [warnings_as_errors, warn_shadow_vars, warn_obsolete_guard]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{deps, [{qc, "", {git, "git://github.com/norton/qc.git", {branch, "master"}}}
       , {gen_ets, "", {git, "git://github.com/norton/gen-ets.git", {branch, "master"}}}
       , {snappy, "", {git, "git://github.com/norton/snappy.git", {branch, "master"}}, [raw]}
       , {leveldb, "", {git, "git://github.com/norton/leveldb.git", {branch, "master"}}, [raw]}
       , {hyperleveldb, "", {git, "git://github.com/norton/HyperLevelDB.git", {branch, "master"}}, [raw]}
       , {rocksdb, "", {git, "git://github.com/norton/rocksdb.git", {branch, "master"}}, [raw]}
       , {sext, "", {git, "git://github.com/norton/sext.git", {branch, "master"}}}
       , {edown, "", {git, "git://github.com/norton/edown.git", {branch, "master"}}}
       ]}.
